{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PriceCheck</title>
    
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <!-- Navigation Bar -->
    <nav class="bg-blue-600 shadow-lg">
        <div class="container mx-auto px-4">
            <div class="flex justify-between items-center py-4">
                
                <div class="text-white text-3xl font-bold">
                    <a href="{% url 'home' %}" class="hover:text-gray-200 transition duration-300">
                        PriceCheck
                    </a>
                </div>

             
                <ul class="flex space-x-8 text-white text-lg font-medium">
                    <li>
                        <a href="{% url 'home' %}" class="hover:text-gray-200 transition duration-300">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'store_preference' %}" class="hover:text-gray-200 transition duration-300">
                            Store Preferences
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'product_list' %}" class="hover:text-gray-200 transition duration-300">
                            Products
                        </a>
                    </li>
                </ul>

                <!-- log in/out button -->
                <div class="flex space-x-6 text-white text-lg">
                    {% if user.is_authenticated %}
                      
                        <form method="POST" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="hover:text-gray-200 transition duration-300">
                                Log Out
                            </button>
                        </form>
                    {% else %}
                     
                        <a href="{% url 'login' %}" class="hover:text-gray-200 transition duration-300">
                            Log In
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

 
    <div class="container mx-auto p-6">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
