{% extends "base.html" %}

{% block title %}Delete {{ object.product_name }}{% endblock %}

{% block content %}
    <div class="container mx-auto">
        <h2 class="text-3xl font-bold mb-4">Are you sure you want to delete "{{ object.product_name }}"?</h2>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="bg-red-500 text-white py-2 px-4 rounded hover:bg-red-600">Confirm Delete</button>
        </form>
        <a href="{% url 'product-list' %}" class="bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-600">Cancel</a>
    </div>
{% endblock %}
