{% extends "base.html" %}

{% block title %}{{ form.instance.pk|yesno:"Edit Product,Add New Product" }}{% endblock %}

{% block content %}
    <div class="container mx-auto">
        <h2 class="text-3xl font-bold mb-4">{{ form.instance.pk|yesno:"Edit Product,Add New Product" }}</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Save</button>
        </form>
        <a href="{% url 'product-list' %}" class="bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-600">Cancel</a>
    </div>
{% endblock %}
