{% extends "base.html" %}


{% block content %}
    <h2 class="text-3xl font-bold mb-4">{{ object.product_name }}</h2>
    <a href="{% url 'product_list' %}" class="bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-600">Back to Product List</a>
</div>


<div class="container mx-auto p-8">
    <div class="bg-white shadow-lg rounded-lg overflow-hidden flex flex-col md:flex-row">
        <div class="relative h-64 md:h-auto md:w-1/2">
            {% if product.product_image %}
                <img src="{{ product.product_image.url }}" alt="{{ product.product_name }}" class="h-full w-full object-cover">
            {% else %}
                <div class="bg-gray-200 h-full w-full flex items-center justify-center text-gray-500">
                    No Image Available
                </div>
            {% endif %}
        </div>
        <div class="p-6 md:w-1/2">
            <h1 class="text-2xl font-bold mb-4 text-gray-900">{{ product.product_name }}</h1>
            <p class="text-gray-700 mb-2"><strong>Category:</strong> {{ product.product_category }}</p>
            <p class="text-gray-700 mb-2"><strong>Size:</strong> {{ product.product_size }}</p>
            <p class="text-gray-700 mb-2"><strong>Price:</strong> ${{ product.unit_price }}</p>
            <p class="text-gray-700 mb-2"><strong>Unit Type:</strong> {{ product.unit_type }}</p>
            <p class="text-gray-700 mb-2"><strong>Product Code:</strong> {{ product.product_code }}</p>
            <p class="text-gray-700 mb-2"><strong>Source Site:</strong> {{ product.product_source_site }}</p>
            <p class="text-gray-700 mb-2"><strong>On Sale:</strong> {{ product.on_sale|yesno:"Yes,No" }}</p>
            <p class="text-gray-700 mb-2"><strong>Last Updated:</strong> {{ product.last_updated }}</p>
            <p class="text-gray-700 mb-2"><strong>Last Checked:</strong> {{ product.last_checked }}</p>
            <p class="text-gray-700 mb-2"><strong>Original Quantity:</strong> {{ product.original_unit_quantity }} {{ product.unit_type }}</p>
        </div>
    </div>
</div>


{% endblock %}
