{% extends "base.html" %}

{% block title %}Supermarket Chains{% endblock %}

{% block content %}
    <div class="container mx-auto">
        <h2 class="text-3xl font-bold mb-4">Supermarket Chains</h2>
        <a href="{% url 'supermarket-chain-create' %}" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Add New Chain</a>
        <ul class="mt-4">
            {% for chain in object_list %}
                <li class="mb-2">
                    <a href="{% url 'supermarket-chain-detail' chain.pk %}" class="text-blue-500 hover:underline">{{ chain.chain_name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
