{% extends "base.html" %}

{% block title %}{{ object.user_name }}{% endblock %}

{% block content %}
    <div class="container mx-auto">
        <h2 class="text-3xl font-bold mb-4">{{ object.user_name }}</h2>
        <a href="{% url 'user-update' object.pk %}" class="bg-yellow-500 text-white py-2 px-4 rounded hover:bg-yellow-600">Edit User</a>
        <a href="{% url 'user-delete' object.pk %}" class="bg-red-500 text-white py-2 px-4 rounded hover:bg-red-600">Delete User</a>
        <a href="{% url 'user-list' %}" class="bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-600">Back to List</a>
    </div>
{% endblock %}
