{% extends "base.html" %}

{% block title %}User Store Preference Details{% endblock %}

{% block content %}
    <div class="container mx-auto">
        <h2 class="text-3xl font-bold mb-4">User ID: {{ object.user_id }} - Store ID: {{ object.store_id }}</h2>
        <a href="{% url 'userstorepreferance-update' object.pk %}" class="bg-yellow-500 text-white py-2 px-4 rounded hover:bg-yellow-600">Edit Preference</a>
        <a href="{% url 'userstorepreferance-delete' object.pk %}" class="bg-red-500 text-white py-2 px-4 rounded hover:bg-red-600">Delete Preference</a>
        <a href="{% url 'userstorepreferance-list' %}" class="bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-600">Back to List</a>
    </div>
{% endblock %}
